.form {
  max-width: 400px;
  width: 100%;
  display: flex;
  gap: 10px;
}

.form__input {
  width: 100%;
  padding: 5px 10px;
  box-sizing: border-box;
  border-radius: 5px;
}

.form__btn {
  flex-shrink: 0;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.form__btn:hover {
  opacity: 0.7;
}

.result {
  font-size: 28px;
  line-height: 34px;
}
